.ticket-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.header-button {
    width:100%
}

.ticket-details {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}