.menu-img:hover {
    background-color: #646464;
}

.menu-img {
    padding: 3px 3px 0 3px;
}

.nav-grid {
    display: flex;
    justify-content: space-between;
    border-bottom: white solid 3px;
}
