nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.menu {
    color: antiquewhite;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
}

.menu:hover {
    background-color: #646464;
}

.menu-logo:hover {
    background-color: #646464;
}

.menu-logo {
    padding: 3px 0 0 3px;
}