.index-map-search {
    display: grid;
    grid-template-columns: 180px auto 180px;
    border-bottom: 3px white solid;
    padding: 12px 0;
}

.ticklist-header {
    text-align: left;
    padding: 20px;
    margin: 0;
}

.stats {
    border-radius: 10px;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    margin: 0 20px;
    height: 300px;
    padding: 5px 0;
}

#stat-head {
    margin: 11px 0;
}

.overflow-scrolling {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 500px;
}
