.filter-list {
    display: grid;
    grid-template-rows: 50px auto;
    justify-content: center;
    align-items: center;
}

.filter-button {
    height: 43px;
    font-size: 15px;
    font-weight: bold;
    background-color:#464545;
    border-radius: 10px;
    color:white;
}

.filter-button:hover {
    background-color:#7e7e7e;
}

.cat-select {
    background-color:#464545;
    color:white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding: 10px 0;
}

option {
    text-align: center;
}