.App {
  text-align: center;
  background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
  color:white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  height: 100vh;
  background-color: rgb(32, 32, 32);
}
